<section id='driver-form'>
  <form action='/drivers/create' method='POST'>
    <h2>Driver info</h2>
    <p>
      <label>Name:</label>
      <input type='text' name='driver[name]'></input>
    </p>
    <p>
      <label>Phone:</label>
      <input type='text' name='driver[phone]'></input>
    </p>
    <button type='submit'>Submit</button>
  </form>
</section>
