<section id='call-form'>
  <form action='/calls/create' method='POST'>
    <h2>Call info</h2>
    <p>
      <label>Pickup:</label>
      <input type='text' name='call[pickup]'></input>
    </p>
    <p>
      <label>Dropoff:</label>
      <input type='text' name='call[dropoff]'></input>
    </p>
    <p>
      <label>Phone:</label>
      <input type='text' name='call[phone]'></input>
    </p>
    <p>
      <label>Price:</label>
      <input type='text' name='call[price]'></input>
    </p>
    <p>
      <label>Notes:</label>
      <textarea rows="4" cols="50" name='call[notes]'></textarea>
    </p>
    <button type='submit'>Submit</button>
  </form>
</section>
